<!-- navbar -->

<div class="title d-flex align-items-center border-bottom my-3 py-3 mx-auto" style="width: 700px">
  <h2 class="my-0 mx-2"><%= @article.title %></h2>
  <%= link_to edit_article_path do %>
    <i class="icon fas fa-pencil-alt mx-1"></i>
  <% end %>
  <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="icon fas fa-trash-alt mx-1"></i>
  <% end %>
</div>

<div class="content py-3 mx-auto" style="width: 700px">
  <p class="mx-2"><%= @article.content %></p>
</div>
