@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

.navbar {
  background-color: rgb(250, 250, 250);
  color: rgb(120, 120, 120);
  &:hover {
    color: rgb(80, 80, 80);
  }
}

body {
  font-family: 'Roboto Slab';
}

h2 {
  font-weight: 400;
  color: #742cf9;
  &:hover {
    color: #5818ce;
  }
}

p {
  font-weight: 200;
}

a:hover {
  text-decoration: none;
}
